.outeContainerContactUs {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  object-fit: cover;
}

.upperText {
  display: inline-block;
  font-size: 3.5rem;
  margin: 4rem 5.5rem;
  color: darkgray;
}

@media screen and (max-width: 850px) {
  .upperText {
    margin-top: 2rem;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
  }
}

.lowerText {
  display: inline-block;
  font-size: 4rem;
  margin: 0 5.5rem;
  color: #f3095b;
}

@media screen and (max-width: 850px) {
  .lowerText {
    margin-top: 2rem;
    font-size: 4rem;
    margin-left: 2rem;
    margin-right: 0;
  }
}

.imageContainer {
  margin-left: 10.2%;
  margin-top: 4rem;
  object-fit: cover;
}
.imageInnerContainer {
  display: -ms-flexbox;
  justify-content: flex-end;
  object-fit: cover;
}
@media screen and (max-width: 1000px) {
  .imageContainer {
    display: none;
  }
}

.contactIcon {
  position: absolute;
  max-width: 40%;
  height: 80%;
  margin-left: 9rem;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}
