.contactUsBox {
  position: relative;
  flex-direction: column;
  padding-top: 5%;
}
.wave {
  max-width: 100%;
  height: auto;
  margin: auto;
}
.headText {
  position: absolute;
  bottom: 2.5rem;
  left: 4rem;
}
.iconContent {
  top: 0;
  display: flex;
  position: absolute;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
.icons {
  display: inline-block;
  background-color: #cdd0cb;
  border-radius: 100%;
}
.icon {
  padding: 0.2rem;
}
.hearAboutUs {
  color: #cdd0cb;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}
.connectUsContent {
  display: flex;
  position: absolute;
  bottom: 1.5rem;
  width: 85%;
  justify-content: flex-end;
}
.emailPhone {
  display: flex;
  flex-direction: row;
  column-gap: 70px;
}

.emailId {
  display: inline-block;
  color: #f3095b;
  font-size: 1.5rem;
  font-weight: 500;
}

.emailValue {
  color: #a9a9a9;
  display: inline-block;
  font-weight: 500;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.upperText {
  display: inline-block;
  font-size: 2.5rem;
  color: #f3095b;
  font-weight: 700;
}

.lowerText {
  font-weight: 700;
  display: inline-block;
  font-size: 2rem;
  line-height: 1.1;
  color: darkgray;
}

@media screen and (max-width: 1000px) {
  .headText {
    display: none;
  }
  .contactUsBox {
    background-color: black;
  }
  .connectUsContent {
    bottom: 0;
    width: 100%;
    justify-content: center;
  }
  .emailPhone {
    flex-direction: column;
    margin-left: 2rem;
  }
  .email {
    margin-bottom: 2rem;
  }
}
